@media only screen and (max-width: 500px) {
   
    h2 {
        font-size: 20px;
        margin-top: 30px;
        padding: 5px;
        letter-spacing: 2px;
    }

    #CATEGORY .padding {
        padding: 0px;
    }
    #CATEGORY #product_img {
        width: 45vw;
    }
    
    #CATEGORY #item_about, #item_mrp {
        display: none;
    }

    #CATEGORY .grid {
        display: grid;
        padding: 10px;
        grid-template-columns: auto auto;
        justify-content: space-around;
        gap: 5px;
    }
    #CATEGORY #wishlist{
        display: none;
    }
    #CATEGORY #product{
        box-shadow: 0px 0px 2px 2px rgb(224, 224, 224);
        /* padding: 2px; */
        margin-top: 10px;

    }
}


@media only screen and (min-width: 500px) and (max-width: 800px) {
     #CATEGORY .padding {
        padding: 0px;
    }

     h2 {
        font-size: 27px;
        margin-top: 30px;
        padding: 5px;
        letter-spacing: 2px;
    }
    #CATEGORY #product_img {
        width: 27vw;
    }

    #CATEGORY #item_about, #item_mrp {
        display: none;
    }

     #CATEGORY .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        padding: 10px;
        gap: 10px;
    }
     #CATEGORY #wishlist{
        display: none;
    }
      #CATEGORY #product{
        box-shadow: 0px 0px 2px 2px rgb(224, 224, 224);
        padding: 2px;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
     #CATEGORY .padding {
        padding: 0px;
    }

     h2 {
        font-size: 20px;
        margin-top: 30px;
        padding: 5px;
        letter-spacing: 2px;
    }

     #CATEGORY .grid {
        display: grid;
        grid-template-columns: auto auto auto ;
        justify-content: space-around;
        padding: 10px;
        gap: 10px;
    }
     #CATEGORY #wishlist{
        display: none;
    }
}