@media only screen and (max-width: 500px) {
    #contact {
        display: block;
        width: 100%;
        padding: 5px;
    }

    #help_center {
        width: 50vw;
        margin: auto;
    }

    #help_center h2 {
        font-size: 20px;
    }

    #help_center span {
        font-size: 15px;
    }

    #orders {
        display: block;
    }

    #orders img {
        width: 30px;
    }

    #orders>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #orders h2 {
        font-size: 12px;
    }

    #orders span {
        font-size: 15px;
    }

    #orders #btn button {
        margin-top: 20px;
        font-size: 15px;
    }

    #query {
        display: block;
        width: 90%;
    }

    #query div {
        width: 100%;
    }

    #quries img {
        width: 20px;
    }

    .line {
        display: none;
    }

    #messag {
        width: 100%;
        margin: 0px;

    }
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
    #contact {
        display: block;
        width: 100%;
        padding: 5px;
    }

    #help_center {
        width: 50vw;
        margin: auto;
    }

    #help_center h2 {
        font-size: 20px;
    }

    #help_center span {
        font-size: 15px;
    }

    #orders {
        display: block;
    }

    #orders img {
        width: 30px;
    }

    #orders>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #orders h2 {
        font-size: 12px;
    }

    #orders span {
        font-size: 15px;
    }

    #orders #btn button {
        margin-top: 20px;
        font-size: 15px;
    }

    #query {
        display: block;
        width: 90%;
    }

    #query div {
        width: 100%;
    }

    #quries img {
        width: 20px;
    }

    .line {
        display: none;
    }

    #messag {
        width: 100%;
        margin: 0px;

    }
}

