/* Hide scrollbar but keep scroll functionality */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE & Edge */
}

@media only screen and (max-width: 500px) {
  .slider-container img {
    width: 100%;
    height: 27vh;
  }
  #home #crousal img{
    height: 23vh;    
  }

  h2 {
    font-size: 10px;
    margin-top: 30px;
    padding: 5px;
    letter-spacing: 2px;
  }

  #SHOP-BY-CATEGORY .padding {
    padding: 0px;
  }

  #SHOP-BY-CATEGORY .grid {
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 10px;
  }

 
}

@media only screen and (min-width: 500px) and (max-width: 942px) {
  #home #SHOP-BY-CATEGORY .padding {
    padding: 0px;
  }

  #home h2 {
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
    letter-spacing: 2px;
  }

  #home #SHOP-BY-CATEGORY .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
  }
  
}
@media only screen and (min-width: 942px) and (max-width: 1024px) {
  #home #SHOP-BY-CATEGORY .padding {
    padding: 0px;
  }

  #home h2 {
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
    letter-spacing: 2px;
  }

  #home #SHOP-BY-CATEGORY .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
  }
}