@media only screen and (max-width: 500px) {
    #login {
        width: 87vw;

    }

    #login img {
        width: 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    #login {
        width: 85vw;
    }

    #login img {
        width: 100%;
    }
}


@media only screen and (min-width: 800px) and (max-width: 1024px) {
    #login {
        width: 75vw;
    }

    #login img {
        width: 100%;
    }
}